body{font-family:Lato,sans-serif;margin:auto}a{text-decoration:none;color:#494949;height:100vh;width:100vw;display:inline-block}p{text-align:center;margin:0}#html-code{font-size:70vh}#info{font-size:10vh}@media only screen and (max-width:1000px){body{min-height:100vh;max-height:100vh}#html-code{font-size:50vw}#info{font-size:10vw}}
