.about-section {
    width: 100%;
    margin-bottom: 2.5em;
}

.about-section:last-child {
    margin-bottom: 20px;
}

.about-heading {
    margin-bottom: 30px;
    border-bottom: 1px solid slategray;
    width 100%;
}

about-title {
    font-size: 4vmax;
}

about-content {
    font-size: 2vmax;
    text-align: justify;
}

@media only screen and (min-width: 1000px) {
    about-title {
	font-size: 3vmin;
    }

    about-content {
	font-size: 2vmin;
    }
}
