content>p {font-size: 2vmax;}.category {width: 100%;margin-bottom: 2.5em;}.category:last-child {margin-bottom: 20px;}.category-heading {margin-bottom: 30px;border-bottom: 1px solid slategray;width 100%;}category-title {font-size: 4vmax;}.category-content {font-size: 2vmax;}.category-content>ul>li {display: grid;grid-template-columns: auto 1fr;}.category-content>ul>li>svg {grid-column: 1;height: 1em;padding: 0.5em 0.5em 0.5em 0;}@media only screen and (min-width: 1000px) {content>p {font-size: 2vmin;}category-title {font-size: 3vmin;}.category-content {font-size: 2vmin}}
