content {
    display: grid;
    grid-template-rows: 1fr auto;
}

.about {
    grid-row: 1;
    padding-bottom: 2em;
}

.about>p {
    margin-top: 0;
    text-align: justify;
    font-size: 1.2rem;
}

.skills {
    grid-row: 2;
}

.skill-section {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.skill-section>svg {
    grid-column: 1;
    height: 5vmax;
    margin-left: auto;
    margin-right: auto;
}

.info>p {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 20px;
    font-size: 1.8rem;
}

.info {
    grid-column: 2;
}

.info>ul {
    margin-top: 0;
    font-size: 1.5rem;
}

.info>ul>li>svg {
    height: 1em;
}

@media only screen and (min-width: 1200px) {
    content {
	display: grid;
	grid-template-columns: 1fr auto;
	grid-row: auto;
	width: 80%;
    }

    .about {
	grid-column: 1;
	grid-row: 1;
	padding-right: 50px;
    }

    .skills {
	grid-column: 2;
	grid-row: 1;
    }

    .skill-section>p {
	font-size: 2em;
    }

    .skill-section>svg {
	grid-column: 1;
	height: 3rem;
	margin-left: auto;
	margin-right: auto;
    }

    .info>p {
	font-size: 1.4rem;
    }

    .info>ul {
	font-size: 1.2rem;
    }
}
