.project {
    width: 100%;
    margin-bottom: 2.5em;
}

.project:last-child {
    margin-bottom: 20px;
}

.project-heading {
    margin: 0 30px 30px 0;
    border-bottom: 1px solid slategray;
    display: inline-block;
    width: 100%;
}

.project-heading-content {
    display: grid;
    grid-template-rows: 50% 50%;
}

project-title {
    font-size: 4vmax;
    grid-row: 1;
}

project-desc {
    grid-row: 2;
    font-size: 3vmax;
    color: slategray;
}

.project-about {
    font-size: 2vmax;
}

.project-about>ul>li{
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.project-about>ul>ul>li{
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
}

.project-about>ul>li>p{
    padding: 0;
    margin: 0;
}

.project-about>ul>li>svg{
    grid-column: 1;
    padding: 0.5em 0.5em 0.5em 0;
}

.project-about>ul>ul>li>p{
    padding: 0;
    margin: 0;
}

.project-about>ul>ul>li>svg{
    grid-column: 1;
    padding: 0.5em 0.5em 0.5em 0.5em;
    height: 1em;
    width: 1em;
}

.project-about>svg {
    height: 1em;
    width: 1em;
}

.project-about>ul>li>svg {
    height: 1em;
    width: 1em;
}

span>svg {
    height: 1em;
}

@media only screen and (min-width: 1000px) {
    .project-heading {
	padding-bottom: 0;
    }
    .project-heading-content {
	display: block;
    }

    project-title {
	font-size: 3vmin;
    }
    
    project-desc {
	font-size: 2vmin;
	margin-left: 10px;
    }

    .project-about {
    font-size: 2vmin;
    }

    .project-about>ul>li{
	padding-bottom: 0;
    }

    .project-about>ul>ul>li{
	padding-bottom: 0;
    }

    span>svg {
	width: 1em;
    }
}
