@-moz-document url-prefix() {
  body {
    line-height: 2;
  }
}

body {
    font-family: 'Lato', sans-serif;
    color: #494949;
    width: 90%;
    padding: 0;
    margin: auto;
    height: 100%;
    line-height: 1.5;
}

page-container {
    display: grid;
    margin: auto;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

header {
    font-family: 'Open Sans', serif;
    grid-row: 1;
    display: grid;
    grid-template-rows: 70% 30%;
    margin: 20px 0 50px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #494949;
}

masthead {
    grid-row: 1;
    display: flex;
    justify-content: center;
    font-size: 5vmax;
}

nav {
    grid-row: 2;
    display: flex;
    justify-content: center;
    font-size: 2.25vmax;
}

nav>a {
    float: right;
    padding: 0 10px 0 10px;
}

a {
    text-decoration: none;
}

a:link {
    color: royalblue;
}

a:visited {
    color: royalblue;
}

#active {
    font-weight: bold;
}

ul {
    list-style: none;
    padding-left: 20px;
}

content {
    grid-row: 2;
    margin: auto;
}

footer {
    grid-row: 3;
    text-align: center;
    margin-top: 100px;
    font-size: 1.75vmax;
    padding-bottom: 5px;
}

footer>span>svg {
    height: 1.75vmax;
}

svg {
    fill: lightslategray;
    padding-right: 5px;
}

@media only screen and (min-width: 1000px) {
    body {
	width: 80%;
	line-height: 1.5;
    }

    content {
	width: 80%;
	height: 100%;
	line-height: 2;
	
    }

    header {
	grid-template-columns: 50% 50%;
	grid-template-rows: 100%;
	height: 5vh;
    }

    masthead {
    	grid-column: 1;
    	grid-row: 1;
    	display: flex;
    	align-items: flex-end;
    	justify-content: flex-start;
    	margin-bottom: -5px;
	font-size: 5vmin;
    }

    nav {
	grid-row: 1;
	grid-column: 2;
	display: flex;
	align-items: flex-end;
	justify-content: flex-end;
	font-size: 2.25vmin;
    }

    footer {
	margin-top: 20px;
	font-size: 1.75vmin;
    }

    footer>svg {
	width: 1em;
    }

    footer>span>svg {
	height: 1.75vmin;
    }
}

@media only screen and (min-width: 1200px) {
    body {
	width: 90%;
    }

    page-container {
	max-width: 1000px;
    }

    content {
	width: 70%;
    }

    nav>a {
	margin-left: 15px;
	padding: 0;
    }
}
